Source: iw2mqtt
Maintainer: Mike Abrahall <mike-deb@abrahall.id.au>
Section: net
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: iw2mqtt
XC-Package-Type: udeb
Architecture: all
Section: net
Depends: mosquitto-client-nossl | mosquitto-client-ssl, busybox, iw
Description: Provide MQTT Device Trackers of WiFi clients
 Publishes WiFi client connections info via MQTT for Home Assistant integratio

